.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: center;
    height: 300px;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;

}
.webcam-container{
    border: 1px dotted black;
    width: 400px;
    // height: 400px;
}
.webcam{
    width: 100%;
    height: 100%;
}